/* .container {
  margin-top: 8%;
}
.all_blog_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.single_div {
  padding-bottom: 10%;
}
.image {
  object-fit: cover;
}
.blog_des {
  text-align: justify;
  padding: 1% 10%;
}
.content {
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #999;
} */

.blog_div {
  margin-top: 10%;
}

.blogs_tag {
  display: grid;
  place-items: center;
}
.single_blog_tag {
  margin-top: 3%;
}
.single_blog_para {
  text-align: justify;
  font-weight: 300;
  margin-top: 20px;
  font-size: 0.8rem;
}
.see_more_button {
  font-size: 0.7rem;
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.image {
  object-fit: cover;
}

.content {
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #999;
}
